:root {
    --color-1: violet;
    --color-2: blueviolet;
    --color-3: white;
}

.bgr-c1-c2 {
    background-image: linear-gradient(var(--color-1), var(--color-2));
}

.bgr-c1-c3 {
    background-image: linear-gradient(var(--color-1), var(--color-3));
}

.bgr-c2-c1 {
    background-image: linear-gradient(var(--color-2), var(--color-1));
}

.bgr-c2-c3 {
    background-image: linear-gradient(var(--color-2), var(--color-3));
}

.bgr-c3-c1 {
    background-image: linear-gradient(var(--color-3), var(--color-1));
}

.bgr-c3-c2 {
    background-image: linear-gradient(var(--color-3), var(--color-2));
}

.bg-color-1 {
    background-color: var(--color-1);
}

.bg-color-2 {
    background-color: var(--color-2);
}

.bg-color-3 {
    background-color: var(--color-3);
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: xx-large;
    height: 3em;
    padding: 1em;
    color: white;
    /* text-shadow: 0 3px 6px black; */
}

header.main-header {
    border-radius: 1em;
    box-shadow: 0px 4px 10px black;
    background-image: linear-gradient(var(--color-1), var(--color-2));
    margin: .8em;
    height: 2.5em;
}

header.main-header>h1 {
    margin: 0;
    padding: 0;
    text-shadow: 0 3px 6px black;
    background-image: none;
    box-shadow: none;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    -webkit-text-stroke: unset;

}

h1 {
    /* background-image: linear-gradient(var(--color-1), var(--color-2)); */
    /* border-radius: 4px; */
    /* box-shadow: 0px 2px 5px black; */
    color: black;
    font-size: xx-large;
    /* margin: 0; */
    text-align: center;
    /* text-shadow: 0 2px 3px black; */
    /* -webkit-text-stroke: 1px blueviolet; */
}

h2 {
    /* background-image: linear-gradient(var(--color-1), var(--color-2)); */
    /* border-radius: 4px; */
    /* box-shadow: 0px 2px 5px black; */
    /* color: white; */
    /* text-shadow: 0 2px 3px black; */
    font-size: x-large;
}

section {
    padding: 1.5em 0;
}

.jc-right {
    justify-content: flex-end;
}

.f-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f-space-around {
    justify-content: space-around;
}

.f-gap-1em {
    gap: 1em;
}

.w-100prc {
    width: 100%;
}

.toc-letter-list {
    width: 80%;
    margin: auto;
}

.toc-letter-list>div {
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    transition: 250ms all;
    box-shadow: 0 4px 10px -4px gray;
}

.toc-letter-list > div:hover {
    margin: 1em 0.8em;
    box-shadow: 0 8px 10px -4px gray;

}

.toc-letter-list span.char {
    font-size: 2em;
    /* width: 1em; */
    height: 1em;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 1em;
    text-align: center;
}

.toc-letter-list ul {
    padding: 0;
    list-style: none;
}

/*
Repeat: 
.toc-letter-list > div:nth-of-type(1) {}
.toc-letter-list > div:nth-of-type(1) > span.char {}
*/
.toc-letter-list>div:nth-of-type(1) {
    background-color: hsl(0, 100%, 90%);
}

.toc-letter-list>div:nth-of-type(1)>span.char {
    background-color: hsl(0, 100%, 80%);
    border-color: hsl(0, 100%, 70%);
}

.toc-letter-list>div:nth-of-type(2) {
    background-color: hsl(271, 76%, 90%);

}

.toc-letter-list>div:nth-of-type(2)>span.char {
    background-color: hsl(271, 76%, 80%);
    border-color: hsl(271, 76%, 70%);
}

.toc-letter-list>div:nth-of-type(3) {
    background-color: hsl(120, 70%, 80%);

}

.toc-letter-list>div:nth-of-type(3)>span.char {
    background-color: hsl(120, 70%, 70%);
    border-color: hsl(120, 70%, 60%);
}

/* .toc-letter-list>div:nth-of-type(3) {
    background-color: blueviolet;
} */

/* section:nth-of-type(1){} */
/* section:nth-of-type(2){background-color: blue;} */
/* section:nth-of-type(3){background-color: black;} */

.wi-100pc {
    width: 100%;
}

.ht-1em {
    height: 1em;
}

.p-1em {
    padding: 1em;
}

.p-t-1em {
    padding-top: 1em;
}

.p-b-1em {
    padding-bottom: 1em;
}

.bo-0 {
    border: 0 solid;
}

.bo-2px {
    border: 2px solid;
}

.bo-black {
    border-color: black;
}

.bo-r-1em {
    border-radius: 1em;
}

.m-1px {
    margin: 1px;
}

.ta-centered {
    text-align: center;
}

.ta-right{
text-align: right;
}

.f-s-xxl {
    font-size: xx-large;
}

.sticky {
    position: sticky;
    top: 0
}

.t-c-1 {
    color: var(--color-1);
}

.t-c-2 {
    color: var(--color-2);
}

.transparent {
    opacity: 0;
    background-color: transparent;
}

.p-lr-1em {
    padding-left: 1em;
    padding-right: 1em;
}

.m-1em{
    margin: 1em 0;
}