body {
    padding: 0;
    margin: 0;
}

body * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header.hero {
    height: 80px;
    width: 100%;
}

header.hero >.title {
    text-align: center;
}

.icon-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    background-color: hsl(229, 100%, 83%);
    padding: 4px;
}

.icon-nav  div {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    padding: 10px;
    border: 1px solid hsl(229, 100%, 70%);
    border-radius: 10px;
}

.icon-nav  div:hover {
    border-top-color: hsl(229, 100%, 80%);
    border-bottom-color: hsl(229, 100%, 50%);
}

.icon-nav  div  img {
    display: block;
    height: 48px;
}

.icon-nav  div  span {
    text-align: center;
    display: block;
}

.text-centered {
    text-align: center;
}
